.navbar {
    background-color: #343434 !important;
}

#brand:hover {
    cursor: pointer;
    color: #ff0000;
}

#brand {
    color: #ff0000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.5em;
    font-weight: 600;
}

.language {
    color: #808080;
    font-size: 1.2rem;
}
.language-container :first-child {
    margin-right: 20px;
}
a.language {
    text-decoration: none;
    color: #808080;
}
/*
.navbar-trans {
    background: transparent !important;
}
*/
.navbar {
    z-index: 20;
}