#brand:hover {
    cursor: pointer;
    color: #306AD9;
}

#brand {
    color: #306AD9;
    font-family: "Fredoka One", cursive;
    font-size: 1.5em;
}

.language {
    color: #808080;
    font-size: 1.2rem;
}
.language-container :first-child {
    margin-right: 20px;
}
a.language {
    text-decoration: none;
    color: #808080;
}
/*
.navbar-trans {
    background: transparent !important;
}
*/
.navbar {
    z-index: 20;
}