#brand:hover {
    cursor: pointer;
    color: #306AD9;
}

#brand {
    color: #306AD9;
    font-family: "Fredoka One", cursive;
    font-size: 1.5em;
}
/*
.navbar-trans {
    background: transparent !important;
}
*/
.navbar {
    z-index: 20;
}