
<div class="card" style="margin-bottom:70px;box-shadow: 5px 5px 5px #343434;background-color:#F2F2F2;">
  <div class="row">
    <div class="col-md-6">
      <img src="{{ workPhoto }}" class="card-img-top img-fluid" alt="Illustration du projet">
    </div>
    <div class="col-md-6">
      <div class="card-body">
        <div style="display: flex;">
          <a href="{{ workGithub }}" *ngIf="workGithub" style="font-size:2em;margin-top:-2%;margin-right:1.5%;" target="blank"><i class="fab fa-github-square"></i></a>
          <h5 class="card-title">{{ workTitle }}</h5>
        </div>
        <p class="card-text text-justify">{{ workIndex }}/ {{ workDescription }}</p>
        <p class="card-text text-justify"><i class="fas fa-thumbtack" style="font-size:1.2em; margin-right:5px;"></i>{{ workTasks }}</p>
        <button type="button" class="btn btn-primary" *ngIf="workGallery" (click)="onViewDetails( [workIndex])">Voir la galerie</button>
        <a href="{{ workUrl }}" class="btn btn-primary" target="blank" style="float:right;margin-bottom:20px;" *ngIf="workUrl">Visiter</a>
      </div> 
    </div>
  </div>
</div>
<p class="text-justify" 
   style="margin-top:-40px;margin-bottom: 70px;font-style:italic;" 
   *ngIf="workEval"><i class="fas fa-user-graduate" style="color:grey;font-size:1.2em;"></i> "{{ workEval }}"</p>
