.section-black {
    background-color: #343434;
    color: rgba(255 ,255 ,255 ,0.7);
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-white {
    background-color: #fff;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 70px;
    padding-bottom: 70px;
}
.section-grey {
    background-color: #E9ECEF;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding-top: 70px;
    padding-bottom: 70px;

}
.section-black h1 {
    text-align: left;
    margin-bottom: 70px;
}
.section-white h2 {
    text-align: left;
    margin-bottom: 70px;
}
.type-writer {
    overflow: auto;
}
@media all and (max-width: 1079px)
{
  .css-typing {
    display: none !important;
  }
  .css-typing-small {
    display: block !important;
  }
  .css-typing-small p {
    border-right: .05em solid orange;
    font-family: "Courier";
    font-size: 18px;
    color: lightblue;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing-small p:nth-child(1) {
    width: 100%;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
}


  .css-typing-small {
    display: none;
  }
  .css-typing p {
    border-right: .15em solid orange;
    font-family: "Courier";
    font-size: 24px;
    color: lightblue;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 95%;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 99%;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 50%;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  }

  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid orange;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  .cursor {
    font-weight: 100;
    font-size: 30px;
    color: #2E3D48;
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 1s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}
.cursor-small {
  font-weight: 100;
  font-size: 20px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}
@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
  }
}

@-webkit-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
  }
}

@-ms-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
  }
}

@-o-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: orange;
  }
}
.techno-logo {
    margin-bottom: 10px;
}
