<div class="animated fadeIn">
    <div class="section-black">
        <particles [style]="myStyle" [width]="width" [height]="height" [params]="myParams"></particles>
        <div class="container" style="z-index: 10;">
            <h1>Florent Pianet</h1>
            <div class="row type-writer">
                <div class="css-typing-small">
                    <p>
                        < Développeur fontend. /><span class="cursor-small">|</span>
                    </p>
                </div>
                <div class="css-typing">
                    <p class="col-md-12">
                        < Je suis développeur front-end. Je conçois et développe                 
                    </p>
                    <p class="col-md-12">
                        des sites modernes qui répondent aux besoins de vos utilisateurs.     
                    </p>
                    <p class="col-md-10">
                        Découvrez mes réalisations. / ><span class="cursor">|</span>              
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!--------------------------------------------------------------------------------------------->
    <div class="section-white">
            <div class="container">
                <div class="row">
                    <div class="col-3">
                        <img src="../../../assets/profil-2.jpg
                        " alt="photo de profil" class="photo-profil img-fluid">
                    </div>
                    <div style="font-size: 18px;" class="col-9 text-justify">
                        <p>"Passionné depuis très jeune par l'informatique (mes premières expériences en programmation remontent au MO5 en langage basic), j'ai toujours eu envie d'en faire mon activité principale. Après pas mal d'années dans des secteurs d'activité bien loin de ma passion, j'ai aujourd'hui décidé de franchir le cap et de vivre du développement.<br />D'un naturel curieux et créatif, je mets mon énergie au service de vos besoins pour créer des sites web qui répondent à vos attentes. Ensemble nous étudierons les solutions adaptées à votre projet et vous suivrez son avancé tout au long des étapes, de la conception à la mise en production.<br/>Les solutions techniques que je propose vont du Content Management System (par exemple Wordpress), au template totalement personnalisé codé à la main, utilisant les technologies les plus modernes du moment."</p>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="button" class="btn btn-outline-primary btn-lg contact-btn" (click)='onGoToContact()'>me contacter</button>
                </div>  
            </div>
        </div>
    <!----------------------------------------------------------------------------------------------->
    <div class="section-grey">
        <div class="container">
            <div class="row">
                <h2 style="margin-bottom: 70px;">Technologies utilisées</h2>
            </div>
        </div>
        <div class="container">
            <div class="card bg-light mb-3" style="box-shadow: 5px 5px 5px #343434">
                    <div class="card-header"><h4>Développement</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo html5" src="../../../assets/html5.png">
                            <p class="text-center">Html</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo CSS3" src="../../../assets/css3.png">
                            <p class="text-center">Css</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo bootstrap" src="../../../assets/bootstrap.png">
                            <p class="text-center">Bootstrap</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo javascript" src="../../../assets/javascript.png">
                            <p class="text-center">Javascript</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo jquery" src="../../../assets/jquery.png">
                            <p class="text-center">JQuery</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo angular" src="../../../assets/angular.png">
                            <p class="text-center">Angular</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card bg-light mb-3" style="box-shadow: 5px 5px 5px #343434">
                    <div class="card-header"><h4>Autres</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo wordpress" src="../../../assets/wordpress.png">
                            <p class="text-center">Wordpress</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid" alt="logo git" src="../../../assets/git.png">
                            <p class="text-center">Git</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid"   alt="logo github" src="../../../assets/github.png">
                            <p class="text-center">GitHub</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid"   alt="logo trello" src="../../../assets/trello.png">
                            <p class="text-center">Trello</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid"   alt="logo photoshop" src="../../../assets/photoshop.png">
                            <p class="text-center">Photoshop</p>
                        </div>
                        <div class="col-4 col-md-2">
                            <img class="techno-logo img-fluid"   alt="logo balsamiq" src="../../../assets/balsamiq.png">
                            <p class="text-center">Balsamiq</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    <!--------------------------------------------------------------------------------------------------->
        <div class="section-white">
            <div class="container">
                <div class="graph" style="opacity:0.7;">
                    <img src="../../../assets/graph.png" alt="" class="img-fluid">
                
                </div>
            </div>
        </div>
    </div>
</div>

    <!-------------------------------------------------------------------------------------------------->

