<div class="section-black">
    <div class="container">
        <h1>Florent Pianet</h1>
        <div class="row type-writer">
            <div class="css-typing-small">
                <p>
                    < Développeur fontend. /><span class="cursor-small">|</span> 
                </p>
            </div>
            <div class="css-typing">
                <p class="col-md-12">
                    < Je suis développeur front-end. Je conçois et développe                 
                </p>
                <p class="col-md-12">
                    des sites modernes qui répondent aux besoins de vos utilisateurs.     
                </p>
                <p class="col-md-10">
                    Découvrez mes réalisations. / ><span class="cursor">|</span>              
                </p>
            </div>
        </div>
    </div>
</div>
<!--------------------------------------------------------------------------------------------->
<div class="section-grey">
        <div class="container">
            <div class="row">
                <div class="col-3">
                    <img src="../../../assets/photo_profil.png" alt="photo de profil" class="photo-profil img-fluid">
                </div>
                <div style="font-size: 18px;" class="col-9 text-justify">
                    <p>"At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat."</p>
                </div>
            </div>
            <div class="col-12 text-center">
                <button type="button" class="btn btn-outline-primary btn-lg contact-btn">Contactez-moi</button>
            </div>  
        </div>
    </div>
<!----------------------------------------------------------------------------------------------->
<div class="section-white">
    <div class="container">
        <div class="row">
            <h2>Technologies utilisées</h2>
        </div>
    </div>
    <div class="container">
        <div class="card bg-light mb-3">
                <div class="card-header">Développement
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo html5" src="../../../assets/html5.png">
                        <p class="text-center">Html</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo CSS3" src="../../../assets/css3.png">
                        <p class="text-center">Css</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo bootstrap" src="../../../assets/bootstrap.png">
                        <p class="text-center">Bootstrap</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo javascript" src="../../../assets/javascript.png">
                        <p class="text-center">Javascript</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo jquery" src="../../../assets/jquery.png">
                        <p class="text-center">JQuery</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo angular" src="../../../assets/angular.png">
                        <p class="text-center">Angular</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card bg-light mb-3">
                <div class="card-header">Autres
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo wordpress" src="../../../assets/wordpress.png">
                        <p class="text-center">Wordpress</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid" alt="logo git" src="../../../assets/git.png">
                        <p class="text-center">Git</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid"   alt="logo github" src="../../../assets/github.png">
                        <p class="text-center">GitHub</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid"   alt="logo trello" src="../../../assets/trello.png">
                        <p class="text-center">Trello</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid"   alt="logo photoshop" src="../../../assets/photoshop.png">
                        <p class="text-center">Photoshop</p>
                    </div>
                    <div class="col-4 col-md-2">
                        <img class="techno-logo img-fluid"   alt="logo balsamiq" src="../../../assets/balsamiq.png">
                        <p class="text-center">Balsamiq</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!----------------------------------------------------------------------------------------------------->

