<div class="section-white">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
            <iframe class="map" height="400" width="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=3.11693474650383%2C45.70122474608733%2C3.3737401664257054%2C45.8929559462513&amp;layer=mapnik&amp;marker=45.7971728091502%2C3.2453374564647675" style="border: 1px solid black"></iframe><br/>
      </div>
      <div class="col-md-6">
        <h2>Localisation:</h2>
        <p style="margin-bottom: 70px;font-size:1.2em;"><span style="font-size:2em !important;">🌋</span> Agglomération de Clermont-Ferrand (63)</p>
        <div class="row">
            <div class="col-md-8">
              <h2>Sur les réseaux:</h2>
              <div style="flex: auto;margin-bottom:70px;">
                <a href="https://twitter.com/florentpia" target="blank">
                  <i class="contact-reso fab fa-twitter-square"></i>
                </a>
                <a href="https://www.linkedin.com/in/florent-pianet/" target="blank">
                  <i class="contact-reso fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Vaniom">
                  <i class="contact-reso fab fa-github-square" target="blank"></i>
                </a>
              </div>
            </div>
            <div class="col-md-4">
              <h2>Par mail:</h2>
              <a href="mailto:hello@florentpia.net">
                <i class="contact-reso fas fa-envelope"></i>
              </a>
            </div>
          </div>
          <h2>Télécharger mon CV : <a href="../../../assets/cv_florentpianet.pdf" download><i class="far fa-file-alt"></i></a></h2>
      </div>
    </div>
  </div>      
</div>
<div class="section-black">
  <div class="container">
    <div class="row type-writer">
        <div class="css-typing">
          <p>
            < Merci de votre visite. /><span class="cursor">|</span> 
          </p>
        </div>
        <div class="css-typing-small">
          <p>
            < Merci de votre visite. /><span class="cursor-small">|</span> 
          </p>
        </div>
    </div>
  </div>
</div>
<div class="section-grey">

</div>

