<div class="animated fadeIn">
  <div class="section-white">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
              <iframe class="map img-fluid" height="400" width="400" frameborder="0" scrolling="no" marginheight="1" marginwidth="1" src="https://www.openstreetmap.org/export/embed.html?bbox=3.11693474650383%2C45.70122474608733%2C3.3737401664257054%2C45.8929559462513&amp;layer=mapnik&amp;marker=45.7971728091502%2C3.2453374564647675" style="border: 1px solid black"></iframe><br/>
        </div>
        <div class="col-md-6">
          <h2 i18n="@@contact_localisation">Localisation:</h2>
          <p i18n="@@contact_clermont" style="margin-bottom: 70px;font-size:1.2em;"><span style="font-size:2em !important;">🌋</span> Agglomération de Clermont-Ferrand (63)</p>
          <div class="row">
              <div class="col-md-8">
                <h2 i18n="@@contact_reseaux">Sur les réseaux:</h2>
                <div style="flex: auto;margin-bottom:70px;">
                  <a href="https://twitter.com/florentpia" target="blank">
                    <i class="contact-reso fab fa-twitter-square faa-vertical animated"></i>
                  </a>
                  <a href="https://www.linkedin.com/in/florent-pianet/" target="blank">
                    <i class="contact-reso fab fa-linkedin faa-wrench animated"></i>
                  </a>
                  <a href="https://github.com/Vaniom" target="blank">
                    <i class="contact-reso fab fa-github-square faa-tada animated"></i>
                  </a>
                </div>
              </div>
              <div class="col-md-4">
                <h2 i18n="@@contact_mail">Par mail:</h2>
                <div id="insertMail">
                  <i class="contact-reso fas fa-envelope faa-horizontal animated" (click)="onClick()"></i>
                </div>
                
              </div>
            </div>
            <h2 i18n="@@contact_CV">Télécharger mon CV : <a href="../../../assets/cv_florentpianet.pdf" download><i class="fas fa-file-download faa-pulse animated-hover" style="font-size: 1.8em;color:#4C4C4C"></i></a></h2>
        </div>
      </div>
    </div>      
  </div>
  <div class="section-black">
    <div class="container">
      <div class="row type-writer">
          <div class="css-typing">
            <p i18n="@@contact_merci">
              < Merci de votre visite. /><span class="cursor">|</span> 
            </p>
          </div>
          <div class="css-typing-small">
            <p i18n="@@contact_merci_small">
              < Merci de votre visite. /><span class="cursor-small">|</span> 
            </p>
          </div>
      </div>
    </div>
  </div>
  <div class="section-grey">

  </div>
</div>

